<ActionBar class="action-bar">

    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>

    <Label class="action-bar-title" text="Apply Leave" color="white"></Label>
</ActionBar>

<StackLayout width="100%" height="100%" class="page page-content">
    <GridLayout rows="*, auto">
        <GridLayout row="0" rows="*">
            <ActivityIndicator color="green" [busy]="isactive" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
        </GridLayout>
        <GridLayout padding="1,1,1,1" backgroundColor="#0080ff" margin="5">
            <ScrollView orientation="vertical" row="0" rows="*">
                <GridLayout row="0" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto" backgroundColor="white">
                    <!-- Start Date -->
                    <StackLayout row="0" aria-orientation="vertical" padding="0,20,0,20" margin="5,0,5,0">
                        <Label class="lbl">
                            <FormattedString>
                                <Span text="Start Date" fontAttributes="Bold"></Span>
                                <Span text="*" color="#ff0000"></Span>
                            </FormattedString>
                        </Label>
                        <GridLayout padding="1,1,1,1" backgroundColor="lightgray" margin="5,0,5,0">
                            <TextField hint="Start Date" row="1" [(ngModel)]="model.startdate" (tap)="pickStartDate()"
                                (textChange)="ondatechange()" editable="false" backgroundColor="white" padding="0,0,5,0" style="font-family:  Calibri;font-size: 14px;"></TextField>
                        </GridLayout>
                    </StackLayout>
                    <!--Start Date Session -->
                    <StackLayout row="1" aria-orientation="vertical" padding="0,20,0,20" margin="5,0,5,0">
                        <Label class="lbl">
                            <FormattedString>
                                <Span text="Session" fontAttributes="Bold"></Span>
                                <Span text="*" color="#ff0000"></Span>
                            </FormattedString>
                        </Label>
                        <GridLayout padding="1,1,1,1" backgroundColor="lightgray" margin="5,0,5,0">
                            <GridLayout columns="auto, *" (tap)="opensession1DD($event)" style="border:0cm solid black"
                                backgroundColor="white">
                                <DropDown id="session1dd" [items]="sessions" [(ngModel)]="model.session1"
                                    [selectedIndex]="session1index" (selectedIndexChanged)="sessionOneIndexChanged($event)"
                                    row="0" col="0" width="100%" height="33">
                                </DropDown>
                            </GridLayout>
                        </GridLayout>
                    </StackLayout>
                    <!-- End Date -->
                    <StackLayout row="2" aria-orientation="vertical" padding="0,20,0,20" margin="5,0,5,0">
                        <Label class="lbl">
                            <FormattedString>
                                <Span text="End Date" fontAttributes="Bold"></Span>
                                <Span text="*" color="#ff0000"></Span>
                            </FormattedString>
                        </Label>
                        <GridLayout padding="1,1,1,1" backgroundColor="lightgray" margin="5,0,5,0">
                            <TextField hint="End Date" row="1" [(ngModel)]="model.enddate" (tap)="pickEndDate()"
                                editable="false" (textChange)="ondatechange()" backgroundColor="white" padding="0,0,5,0" style="font-family:  Calibri;font-size: 14px;"></TextField>
                        </GridLayout>
                    </StackLayout>
                    <!-- End Date Session -->
                    <StackLayout row="3" aria-orientation="vertical" padding="0,20,0,20" margin="5,0,5,0">
                        <Label class="lbl">
                            <FormattedString>
                                <Span text="Session" fontAttributes="Bold"></Span>
                                <Span text="*" color="#ff0000"></Span>
                            </FormattedString>
                        </Label>
                        <GridLayout padding="1,1,1,1" backgroundColor="lightgray" margin="5,0,5,0">
                            <GridLayout columns="auto, *" (tap)="opensession2DD($event)" style="border:0cm solid black"
                                backgroundColor="white">
                                <DropDown id="session2dd" [items]="sessions" [(ngModel)]="model.session2"
                                    [selectedIndex]="session2index" (selectedIndexChanged)="sessionTwoIndexChanged($event)"
                                    row="0" col="0" width="100%" height="33">
                                </DropDown>
                            </GridLayout>
                        </GridLayout>
                    </StackLayout>
                    <!-- Leave type -->
                    <StackLayout row="4" aria-orientation="vertical" padding="0,20,0,20" margin="5,0,5,0">
                        <Label class="lbl">
                            <FormattedString>
                                <Span text="Leave Type" fontAttributes="Bold"></Span>
                                <Span text="*" color="#ff0000"></Span>
                            </FormattedString>
                        </Label>
                        <GridLayout padding="1,1,1,1" backgroundColor="lightgray" margin="5,0,5,0">
                            <GridLayout columns="auto, *" (tap)="openleavetypeDD($event)" style="border:0cm solid black"
                                backgroundColor="white">
                                <DropDown id="leavetypedd" [items]="leavetypes" [(ngModel)]="model.leavetype"
                                    [selectedIndex]="leavetypeindex" (selectedIndexChanged)="leaveTypeIndexChanged($event)"
                                    row="0" col="0" width="100%" height="33">
                                </DropDown>
                            </GridLayout>
                        </GridLayout>
                    </StackLayout>
                    <!-- Number of Leave Days -->
                    <StackLayout row="5" aria-rowspan="2" aria-orientation="vertical" padding="0,20,0,20" margin="5,0,5,0">
                        <Label class="lbl">
                            <FormattedString>
                                <Span text="No of Leave Days:&nbsp;" fontAttributes="Bold"></Span>
                                <Span text="{{model.leaveDays}}" color="#ff0000"></Span>
                            </FormattedString>
                        </Label>
                    </StackLayout>
                    <!-- Available Leaves -->
                    <StackLayout row="6" aria-rowspan="2" aria-orientation="vertical" padding="0,20,0,20" margin="5,0,5,0">
                        <Label class="lbl">
                            <FormattedString>
                                <Span text="Available Leaves:&nbsp;" fontAttributes="Bold"></Span>
                                <Span text="{{availableleaves}}" color="#ff0000"></Span>
                            </FormattedString>
                        </Label>
                    </StackLayout>
                    <!-- Leave Reason -->
                    <StackLayout row="7" aria-orientation="vertical" padding="0,20,0,20" margin="5,0,5,0">
                        <Label class="lbl">
                            <FormattedString>
                                <Span text="Leave Reason" fontAttributes="Bold"></Span>
                                <Span text="*" color="#ff0000"></Span>
                            </FormattedString>
                        </Label>
                        <GridLayout padding="1,1,1,1" backgroundColor="lightgray" margin="5,0,5,0">
                            <GridLayout columns="*" (tap)="openleavetypeDD($event)">
                                <TextView #leavereason row="1" class="input" style.placeholderColor="lightgray" hint="Leave Reason"
                                    backgroundColor="white" [(ngModel)]="model.leavereason" autocorrect="false"
                                    autocapitalizationType="none" height="150"></TextView>
                            </GridLayout>
                        </GridLayout>
                    </StackLayout>
                    <!-- Apply button -->
                    <StackLayout row="8" aria-rowspan="2" aria-orientation="vertical" padding="0,20,0,20" margin="5,0,5,0">
                        <GridLayout row="1" rows="auto">
                            <Button row="0" text="Apply" backgroundColor="blue" color="white" (tap)="onapplytap()"
                                width="40%" margin="0,0,10,0">
                            </Button>
                        </GridLayout>
                    </StackLayout>
                </GridLayout>
            </ScrollView>
        </GridLayout>
    </GridLayout>
</StackLayout>