<StackLayout  height=280 padding = "0,20,0,20" >
    <GridLayout verticalAlignment="center" backgroundColor="lightgray" class="form"height=280>
        <StackLayout class="form">
            <Label class="h3 text-center" padding="20,0,10,0" text="User Login" font-weight="bolder"></Label>
                <StackLayout class="input-field">
                      <TextField class="input" margin="0,0,10,0" style.placeholderColor="lightgray" height = 40 hint="Email Id"  backgroundColor="white" padding="0,0,0,10"></TextField>
                      <TextField class="input" margin="20,0,0,0"  style.placeholderColor="lightgray" height = 40 hint="Password"  backgroundColor="white" padding="0,0,0,10"></TextField>
                </StackLayout>
                    <Button text="Log In" margin="20,0,0,0" class="btn btn-primary"width = 100></Button>
        </StackLayout>
    </GridLayout>
</StackLayout>
