/* Add mobile styles for the component here.  */
/* Label{
    color: black;
    font-weight: 300;
    font-family:  Calibri;
    font-size: 14px;
    padding:5,0,0,0
}
.lbl{
    font-weight: 400;
} */
.layout-css{
horizontal-align:center;
vertical-align: center;
width: 80%;
}
.layout-content{
    background-color: white;
    padding: 10;
}