<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>

    <Label class="action-bar-title" text="Geo Location" color="white"></Label>
</ActionBar>
<GridLayout rows="*,auto">
    <GridLayout padding="1,1,1,1" backgroundColor="#0080ff" verticalAlignment="center"
        horizontalAlignment="center" rows="*" width="80%">
        <StackLayout backgroundColor="white" row="0" padding="10">
            <Label text="Latitude: {{ latitude }}" class="lbl"></Label>
            <Label text="Longitude: {{ longitude }}" class="lbl"></Label>
            <Button class="btn btn-primary btn-active" text="Update" (tap)="updateLocation()"></Button>
            <!-- <Button class="btn btn-primary btn-active" text="Watch Location" (tap)="startWatchingLocation()"></Button>
        <Button class="btn btn-primary btn-active" text="Stop Watching" (tap)="stopWatchingLocation()"></Button> -->
        </StackLayout>
    </GridLayout>
    <ActivityIndicator color="#0080ff" [busy]="busyindicator" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</GridLayout>