@import 'nativescript-theme-core/css/core.light.css';


Label{
    color: black;
    font-weight: 300;
    font-family:  Calibri;
    font-size: 14px;
    padding:5,0,0,0
}
.lbl{
    font-weight: 400;
}

.action-bar-style{
    color:yellow;
}
ActionBar{
    color:red;
}